{% load staticfiles %}
{% load breadcrumb %}
<html>
    <head>
        {% include 'material/includes/material_css.html' %}
        <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% include 'material/includes/material_js.html' %}
        <style type="text/css">
            @media only screen and (min-width : 601px) {
                #id_card_type_container {
                    margin-top: 40px;
                    margin-left: 50px;
                }
            }
        </style>
    </head>
    <body>
        {% breadcrumbs %}
        <div id="content" class="row valign">
            <div class="col l10 offset-l1">
                <div class="card">
                    <form method="POST" enctype="multipart/form-data">
                        <div class="card-content">
                            <span class="card-title grey-text text-darken-2">{% block title %}Form{% endblock %}</span>
                            {% csrf_token %}
                            {% block content %}{% endblock %}
                        </div>
                        {% if is_paginated %}
                         <ul class="pagination">
                            {% if not page_obj.has_previous %}
                                <li class="disabled"><i class="material-icons">chevron_left</i></li>
                            {% else %}
                                <li><a href="{{ request.path }}?page={{ page_obj.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
                            {% endif %}
                            {% with ''|center:page_obj.paginator.num_pages as range %}
                            {% for _ in range %}
                                <li {% if forloop.counter == page_obj.number %}class="active"{% else %}class="waves-effect"{% endif %}><a href="{{ request.path }}?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                            {% endfor %}
                            {% endwith %}
                            {% if not page_obj.has_next %}
                                <li class="disabled"><i class="material-icons">chevron_right</i></li>
                            {% else %}
                                <li><a href="{{ request.path }}?page={{ page_obj.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
                            {% endif %}
                          </ul>
                        {% endif %}
                        {% block footer %}
                        <div class="card-action">
                            {% block actions %}
                            <div class="right-align">
                                {% block formbuttons %}<button class="btn btn-primary" type="submit">Submit</button>{% endblock %}
                            </div>
                            {% endblock %}
                        </div>
                        {% endblock %}
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>