{% extends 'base.html' %}
{% block title %}Translations{% endblock %}
{% block content %}
<ul>
{% for object in object_list %}
	{% with model_name|add:"_edit" as view %}
    	<li><a href="{% url view pk=object.pk language=object.language_code%}">{{ object.language_code }}: {{ object }}</a></li>
    {% endwith %}
{% empty %}
    <li>No articles yet.</li>
{% endfor %}
</ul>
{% endblock %}
{% block formbuttons %}
	{% with object_list|first as object %}
		<div class="row">
			{% if perms.backend.can_review  %}
				{% if state == "new" or state == "translated" %}
				<div class="col left-align">
					{% with model_name|add:"_review" as view %}
				      	<a class="btn btn-primary" href="{% url view pk=object.pk %}">Review</a>
			      	{% endwith %}
			    </div>
			    {% endif %}
			{% endif %}
			{% if perms.backend.can_publish and state == "reviewed" %}
			    <div class="col">
			    	{% with model_name|add:"_publish" as view %}
			      		<a class="btn btn-primary" href="{% url view pk=object.pk %}">Publish</a>
	      			{% endwith %}
			    </div>
		    {% endif %}
			{% if perms.backend.can_translate %}
			    <div class="right-align">
					{% with model_name|add:"_edit" as view %}			    
			      		<a class="btn btn-primary" href="{% url view pk=object.pk language='new' %}">New Translation</a>
			      	{% endwith %}
			    </div>
		    {% endif %}
		</div>
	{% endwith %}
{% endblock %}