{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block content %}
<div>
	<div class="collection">
        {% for name, url in models %}
        	<a href="{{url}}" class="collection-item">{{name}}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% if user.is_authenticated %}
	{% block formbuttons %}
	<a class="btn btn-primary" href="{% url 'django.contrib.auth.views.login' %}?next={{request.path}}">Login</a>
	{% endblock %}
{% else %}
	{% block footer %}
	{% endblock %}
{% endif %}