{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block content %}
<div>
	<div class="collection">
        {% for name, url in models %}
        	<a href="{{url}}" class="collection-item">{{name}}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block formbuttons %}
{% if not user.is_authenticated %}
		<a class="btn btn-primary" href="{% url 'django.contrib.auth.views.login' %}?next={{request.path}}">Login</a>
{% else %}
		<a class="btn btn-primary" href="{% url 'django.contrib.auth.views.logout' %}?next={{request.path}}">Logout</a>
{% endif %}
{% endblock %}